@{
    ViewData["Title"] = "Home";
}

<!-- main start -->
<main>
    <section id="banner">
        <div class="container">
            <div class="row">
                <div data-aos="fade-down" class="banner-text col-lg-6">
                    <p class="banner-recomend">
                        <i class="fa-solid fa-thumbs-up me-2"></i>
                        100% Trusted car rental platform in the World
                    </p>
                    <div class="banner-title">
                        <h1>Find Your Best</h1>
                        <h1>Dream Car for Rental</h1>
                    </div>
                    <div class="banner-desc">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                    <div class="banner-button">
                        <a href="#">
                            View all Cars
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="banner-photo col-lg-6">
                    <img data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="500" src="~/assets/images/index/cars/Audi-4K-PNG.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="search">
        <div class="container">
            <div class="search-main">
                <form action="#">
                    <ul>
                        <li>
                            <div class="form-group">
                                <label for="#">Pickup Location</label>
                                <div class="group-img">
                                    <input class="form-group" type="text" placeholder="Enter City, Airport, or Address">
                                    <span>
                                        <i class="fa-sharp fa-solid fa-location-dot"></i>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="#">Pickup Date</label>
                            </div>
                            <div class="form-group-wrapper">
                                <div class="date form-group">
                                    <div class="group-img">
                                        <input class="form-group date-now" type="date">
                                        <span>
                                            <i></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="time form-group">
                                    <div class="group-img">
                                        <input class="form-group time-now" type="time">
                                        <span>
                                            <i></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="#">Return Date</label>
                            </div>
                            <div class="form-group-wrapper">
                                <div class="date form-group">
                                    <div class="group-img">
                                        <input class="form-group date-now" type="date">
                                        <span>
                                            <i></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="time form-group">
                                    <div class="group-img">
                                        <input class="form-group time-now" type="time">
                                        <span>
                                            <i></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <div class="search-btn">
                                    <button class="btn search-button">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="right-photo">
            <img src="~/assets/images/index/service-right.svg" alt="">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="services-title">
                <h2>How It Works</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="services-body">
                <div class="row">
                    <div data-aos="fade-down" data-aos-duration="500" class="location col-lg-4">
                        <div class="location-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>1. Choose Locations</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                    <div data-aos="fade-down" data-aos-duration="500" data-aos-delay="300" class="pick-up col-lg-4">
                        <div class="pick-up-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>2. Pick-Up Locations</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                    <div data-aos="fade-down" data-aos-duration="500" data-aos-delay="600" class="book col-lg-4">
                        <div class="book-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>3. Book your Car</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="explore">
        <div class="container">
            <div data-aos="fade-down" class="explore-title">
                <h2>Explore Most Popular Cars</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div data-aos="fade-down" class="explore-body-top">
                <ul>
                    <li>
                        <a href="#">
                            <span>
                                <img src="~/assets/images/index/car-icon-01.svg" alt="">
                            </span>
                            Mercedes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="~/assets/images/index/car-icon-02.svg" alt="">
                            </span>
                            Audi
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="~/assets/images/index/car-icon-03.svg" alt="">
                            </span>
                            Honda
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="~/assets/images/index/car-icon-04.svg" alt="">
                            </span>
                            Toyota
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="~/assets/images/index/car-icon-05.svg" alt="">
                            </span>
                            Acura
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>
                                <img src="~/assets/images/index/car-icon-06.svg" alt="">
                            </span>
                            Tesla
                        </a>
                    </li>
                </ul>
            </div>
            <div class="explore-body-bottom">
                <div class="cars">
                    <div class="row">
                        <div data-aos="zoom-in-up" data-aos-duration="1000" class="car col-lg-4">
                            <div class="car-item">
                                <div class="car-img">
                                    <a href="./detail.html">
                                        <img src="~/assets/images/cars/49702_VdWRZyZ6YhOUk7K97Ocqlw.jpg"
                                             alt="">
                                    </a>
                                    <div class="fav">
                                        <span>Toyota</span>
                                        <a href="#">
                                            <i class="fa-regular fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="car-content">
                                    <div class="car-features">
                                        <a href="#" class="author-img">
                                            <img src="~/assets/images/index/cars/car-logo/WpcTavg99b5XpK6STzSLZ8.jpg"
                                                 alt="">
                                        </a>
                                        <h3 class="car-title">
                                            <a href="#">
                                                Toyota Camry SE Hybrid
                                            </a>
                                        </h3>
                                        <div class="car-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <span>(5.0)</span>
                                        </div>
                                    </div>
                                    <div class="car-details">
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg"
                                                         alt="">
                                                </span>
                                                <p>Auto</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg"
                                                         alt="">
                                                </span>
                                                <p>10 KM</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg"
                                                         alt="">
                                                </span>
                                                <p>Petrol</p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg"
                                                         alt="">
                                                </span>
                                                <p>Power</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg"
                                                         alt="">
                                                </span>
                                                <p>2023</p>
                                            </li>
                                            <li>
                                                <span>
                                                    <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg"
                                                         alt="">
                                                </span>
                                                <p>5 Persons</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="car-location-price">
                                        <div class="car-location">
                                            <span>
                                                <i class="fa-solid fa-location-dot"></i>
                                                Germany
                                            </span>
                                        </div>
                                        <div class="car-price">
                                            <h6>
                                                $400
                                                <span>/Day</span>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="car-button">
                                        <a href="#">
                                            <span>
                                                <i class="fa-solid fa-calendar"></i>
                                            </span>
                                            Rent Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="populars">
        <div class="container">
            <div data-aos="fade-down" class="populars-title">
                <h2>Most Popular Cartypes</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="populars-body row">
                <div class="slider">
                    <div class="slider-wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-01.png" alt="">
                                        </div>
                                        <h6>Sedan</h6>
                                        <p>15 cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-02.png" alt="">
                                        </div>
                                        <h6>Pickup</h6>
                                        <p>17 Cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-03.png" alt="">
                                        </div>
                                        <h6>Family MPV</h6>
                                        <p>24 Cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-04.png" alt="">
                                        </div>
                                        <h6>Crossover</h6>
                                        <p>35 Cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-05.png" alt="">
                                        </div>
                                        <h6>Sports Coupe</h6>
                                        <p>45 Cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-01.png" alt="">
                                        </div>
                                        <h6>Sedan</h6>
                                        <p>15 cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-02.png" alt="">
                                        </div>
                                        <h6>Pickup</h6>
                                        <p>17 Cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-03.png" alt="">
                                        </div>
                                        <h6>Family MPV</h6>
                                        <p>24 Cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-04.png" alt="">
                                        </div>
                                        <h6>Crossover</h6>
                                        <p>35 Cars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="listing-owl-item">
                                    <div class="listing-owl-group">
                                        <div class="listing-owl-img">
                                            <img src="/assets/images/index/slider/mp-vehicle-05.png" alt="">
                                        </div>
                                        <h6>Sports Coupe</h6>
                                        <p>45 Cars</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-all">
                <a href="./listing.html">
                    View all Cars
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
    <section id="facts">
        <div class="left-img">
            <img src="assets/images/index/facts-left.png" class="img-fluid" alt="facts left">
        </div>
        <div class="right-img">
            <img src="assets/images/index/facts-right.png" class="img-fluid" alt="facts left">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="facts-title">
                <h2>Facts By The Numbers</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div data-aos="fade-down" class="counter-group">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-heart.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4 class="count">16</h4>
                                <p>Happy Customers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-car.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4 class="count">2547+</h4>
                                <p>Count of Cars</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-headphone.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4>625K+</h4>
                                <p>Car Center Solutions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-history.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4>200K+</h4>
                                <p>Total Kilometer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="recommended">
        <div class="container">
            <div data-aos="fade-down" class="recommended-title">
                <h2>Recommended Car Rental deals</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="recommended-body row">
                <div class="slider">
                    <div class="slider-wrapper">
                        <div class="responsive">
                            <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                        <div class="car-img">
                                            <a href="#">
                                                <img src="/assets/images/index/cars/toyota-camry-se-hybrid-nightshade-550x400.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                        $400/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">Toyota Camry SE 350</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>Venis Darren</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>Auto</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>10 KM</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>Petrol</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>Power</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p>2023</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>5 Persons</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                        <div class="car-img">
                                            <a href="#">
                                                <img src="/assets/images/index/cars/toyota-camry-se-hybrid-nightshade-550x400.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                        $400/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">Toyota Camry SE 350</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>Venis Darren</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>Auto</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>10 KM</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>Petrol</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>Power</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p>2023</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>5 Persons</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                        <div class="car-img">
                                            <a href="#">
                                                <img src="/assets/images/index/cars/toyota-camry-se-hybrid-nightshade-550x400.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                        $400/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">Toyota Camry SE 350</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>Venis Darren</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>Auto</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>10 KM</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>Petrol</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>Power</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p>2023</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>5 Persons</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                        <div class="car-img">
                                            <a href="#">
                                                <img src="/assets/images/index/cars/toyota-camry-se-hybrid-nightshade-550x400.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                        $400/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">Toyota Camry SE 350</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>Venis Darren</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>Auto</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>10 KM</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>Petrol</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>Power</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p>2023</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>5 Persons</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                        <div class="car-img">
                                            <a href="#">
                                                <img src="/assets/images/index/cars/toyota-camry-se-hybrid-nightshade-550x400.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                        $400/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">Toyota Camry SE 350</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>Venis Darren</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>Auto</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>10 KM</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>Petrol</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>Power</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p>2023</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>5 Persons</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                        <div class="car-img">
                                            <a href="#">
                                                <img src="/assets/images/index/cars/toyota-camry-se-hybrid-nightshade-550x400.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                        $400/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">Toyota Camry SE 350</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>Venis Darren</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>Auto</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>10 KM</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>Petrol</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>Power</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p>2023</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>5 Persons</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                        <div class="car-img">
                                            <a href="#">
                                                <img src="/assets/images/index/cars/toyota-camry-se-hybrid-nightshade-550x400.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                        $400/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">Toyota Camry SE 350</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>Venis Darren</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>Auto</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>10 KM</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>Petrol</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>Power</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p>2023</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>5 Persons</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-item">
                                    <div class="card">
                                        <div class="car-img">
                                            <a href="#">
                                                <img src="/assets/images/index/cars/toyota-camry-se-hybrid-nightshade-550x400.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="car-content">
                                            <div class="car-features">
                                                <div class="fav-item">
                                                    <span class="featured-text">
                                                        $400/day
                                                    </span>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                                <h3 class="card-title">
                                                    <a href="listing-details.html">Toyota Camry SE 350</a>
                                                </h3>
                                                <h6>
                                                    Listed By :
                                                    <span>Venis Darren</span>
                                                </h6>
                                            </div>
                                            <div class="car-details">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-01.svg" alt="">
                                                        </span>
                                                        <p>Auto</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-02.svg" alt="">
                                                        </span>
                                                        <p>10 KM</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-03.svg" alt="">
                                                        </span>
                                                        <p>Petrol</p>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-04.svg" alt="">
                                                        </span>
                                                        <p>Power</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-05.svg" alt="">
                                                        </span>
                                                        <p>2023</p>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <img src="~/assets/images/index/cars/car-detail/car-parts-06.svg" alt="">
                                                        </span>
                                                        <p>5 Persons</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="car-button">
                                                <a href="#">
                                                    <span>
                                                        <i class="fa-solid fa-calendar"></i>
                                                    </span>
                                                    Rent Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="choose-us">
        <div class="left-img">
            <img src="~/assets/images/index/choose-left.png" alt="">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="choose-us-title">
                <h2>Why Choose Us</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div data-aos="fade-down" class="choose-us-group">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img black-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Easy & Fast Booking</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img blue-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Many Pickup Location</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img orange-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Customer Satisfaction</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <div class="container">
            <div data-aos="fade-down" class="testimonials-title">
                <h2>What People say about us?</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="testimonials-body">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container">
            <div data-aos="fade-down" class="faq-title">
                <h2>Frequently Asked Questions</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="faq-accordion">
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            What is about rental car deals?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="first-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            In which areas do you operate?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="second-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="third-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="fourth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="fifth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="sixth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                            id quod?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="seventh-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->

<!-- scripts -->
<script src="~/assets/js/index.js"></script>
