*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#account{
    background-color: #FCFBFB;
    padding: 40px 0;
    .container{
        position: relative;
        .profile{
            background-image: url(../images/index/about-testimonial.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 30px 30px;
            margin-bottom: 50px;
            border-radius: 10px;
            .photo{
                overflow: hidden;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid #FFA633;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .fullname{
                h1{
                    z-index: 1;
                    color: white;
                    margin-top: 50px;
                }
                h4{
                    color: #FFA633;
                }
                
            }
        }
        .edit-photo{
            position: absolute;
            top: 50px;
            left: 200px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: black;
            border: solid 2px #FFA633;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            cursor: pointer;
            i{
                color: #FFA633;
                transition: 0.5s;
            }

            &:hover{
                background-color: #FFA633;
            }
            &:hover i {
                color: #ffffff;
            }
        }
        .row{
            .side-bar{
                background: #ffffff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
                .bar-list{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        padding: 10px;
                        border-radius: 5px;
                        border-bottom: 1px solid #F4F4F4;
                        transition: 0.5s;
                        cursor: pointer;
                        &:hover{
                            background-color: #F2F7F6;
                            border-radius: 5px;
                            color: black;
                        }
                        &:last-child{
                            border: none;
                        }
                    }
                    .active-li{
                        background-color: #FFA633;
                        color: white;
                    }
                }
            }
            .main-side{
                .account-details{
                    margin-bottom: 40px;
                    display: none;
                    h2{
                        margin-bottom: 30px;
                    }
                    h3{
                        margin-bottom: 20px;
                    }
                    .person-info{
                        background: #ffffff;
                        padding: 20px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
                    }
                    .address-info{
                        background: #ffffff;
                        padding: 20px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
                    }
                    .pay-card{
                        background: #ffffff;
                        padding: 20px;
                        margin-top: 20px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
                        .pay-card-type{
                            width: 250px;
                            display: flex;
                            align-items: center;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .info-body{
                        p{
                            margin: 0 0 5px;
                        }
                    }
                    .edit{
                        display: inline-block;
                        margin-top: 20px;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: black;
                        border: 1px solid #F4F4F4;
                        border-radius: 5px;
                        background-color: #FFA633;
                        color: white;
                        box-shadow: inset 0 0 0 #ffffff;
                        transition: 0.5s;
                        font-weight: 500;
                        &:hover{
                            background-color: #ffffff;
                            border: 1px solid #FFA633;
                            box-shadow: inset 0 70px 0 0 #ffffff;
                            color: #FFA633;
                        }
                        i{
                            margin-right: 5px;
                        }
                    }
                }
                .wishlist{
                    display: none;
                    .row{
                        .wishlist-wrapper{
                            background: #ffffff;
                            padding: 20px;
                            border-radius: 10px;
                            box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
                            h5{
                                text-align: center;
                                color: gray;
                                width: 100%;
                            }
                            svg{
                                display: block;
                                width: 100px;
                                fill: gray;
                                margin: 0 auto;
                                margin: 30px auto 0;
                            }
                        }
                    }
                }
                .order-history{
                    display: none;
                    .order-wrapper{
                        background: #ffffff;
                        padding: 20px;
                        border-radius: 10px;
                        box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.2);
                        h5{
                            text-align: center;
                            width: 100%;
                            color: gray;
                        }
                        svg{
                            display: block;
                            width: 100px;
                            fill: gray;
                            margin: 30px auto 0;
                        }
                    }
                }
                .active-main{
                    display: block;
                }
            }
            .company-main-side{
                .account-details{
                    padding: 20px;
                    background-color: #fff;
                    margin-bottom: 20px;
                    display: none;
                }
                .about-announcements{
                    display: none;
                    .company-main-head{
                        margin-bottom: 20px;
                        ul{
                            list-style: none;
                            display: flex;
                            margin: 0;
                            padding: 0;
                            background-color: #fff;
                            border-radius: 5px;
                            li{
                                font-size: 16px;
                                color: #a3a3a4;
                                display: inline-block;
                                padding: 10px 20px;
                                border-bottom: 3px solid #ebebeb;
                                transition: 0.5s;
                                cursor: pointer;
                                &:first-child{
                                    border-top-left-radius: 5px;
                                    border-bottom-left-radius: 5px;
                                }
                                &:hover{
                                    color: black;
                                    background-color: #F2F7F6;
                                    border-bottom: 3px solid #FFA633;
                                }
                            }
                            .active-li{
                                background-color: #FFA633;
                                border-bottom: 3px solid black;
                                color: #fff;

                            }
                        }
                    }
                    .company-main-body{
                        .announcements-body{
                            padding: 20px;
                            text-align: center;
                            background-color: #fff;
                            border-radius: 5px;
                            a{
                                background-color: green;
                                color: #ffffff;
                                transition: 0.5s;
                                &:hover{
                                    background-color: rgb(0, 151, 0);
                                }
                            }
                            .row{
                                .car-item{
                                    .card{
                                        margin-bottom: 24px;
                                        padding: 0 20px;
                                        background: #ffffff;
                                        box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
                                        display: inline-block;
                                        width: 100%;
                                        border: none;
                                        border-radius: 8px;
                                        .img-details{
                                            display: flex;
                                            align-items: center;
                                            .card-img{
                                                margin-right: 15px;
                                                border-radius: 10px;
                                                max-width: 30%;
                                                img{
                                                    border-radius: 10px;
                                                    max-width: 100%;
                                                    height: auto;
                                                }
                                            }
                                            .card-details{
                                                width: 100%;
                                                .card-body{
                                                    position: relative;
                                                    .body-head{
                                                        margin-bottom: 15px;
                                                        display: flex;
                                                        justify-content: space-between;
                                                        .title{
                                                            h3{
                                                                margin-bottom: 10px;
                                                                font-size: 20px;
                                                                font-weight: 600;
                                                                
                                                                a{
                                                                    color: #201F1D;
                                                                    text-decoration: none;
                                                                }
                                                            }
                                                            h6{
                                                                font-size: 15px;
                                                                color: #737373;
                                                                font-weight: 400;
                                                            }
                                                        }
                                                        .price-rating{
                                                            .rating{
                                                                margin-bottom: 8px;
                                                                i{
                                                                    color: #FF9307;
                                                                    font-size: 14px;
                                                                }
                                                                span{
                                                                    font-size: 15px;
                                                                    color: #787878;
                                                                }
                                                            }
                                                            .price{
                                                                font-weight: 700;
                                                                font-size: 24px;
                                                                color: #FF0000;
                                                                display: flex;
                                                                align-items: center;
                                                                justify-content: center;
                                                                margin: 0;
                                                                span{
                                                                    font-size: 14px;
                                                                    font-weight: normal;
                                                                    color: #828282;
                                                                    margin-left: 7px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .body-mid{
                                                        margin-bottom: 15px;
                                                        padding-bottom: 15px;
                                                        border-bottom: 1px solid #F4F4F4;
                                                        ul{
                                                            margin: 0;
                                                            padding: 10px;
                                                            background: #F2F7F6;
                                                            border-radius: 5px;
                                                            list-style: none;
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: space-between;
                                                            li{
                                                                display: flex;
                                                                img{
                                                                    margin-right: 10px;
                                                                    line-height: 0;
                                                                    width: 16px;
                                                                }
                                                                p{
                                                                    margin: 0;
                                                                    font-size: 15px;
                                                                    color: #787878;
                                                                }
                                                            }
                                                        }
            
                                                    }
                                                    .body-bottom{
                                                        display: flex;
                                                        justify-content: space-between;
                                                        align-items: center;
                                                        .author{
                                                            display: flex;
                                                            .author-img{
                                                                img{
                                                                    margin-right: 10px;
                                                                    border-radius: 50%;
                                                                    width: 46px;
                                                                    height: 46px;
                                                                }
                                                            }
                                                            .author-name-location{
                                                                .author-name{
                                                                    h5{
                                                                        margin-bottom: 3px;
                                                                        a{
                                                                            text-decoration: none;
                                                                            font-size: 16px;
                                                                            color: #201F1D;
                                                                        }
                                                                    }
                                                                    h6{
                                                                        display: flex;
                                                                        align-items: center;
                                                                        font-size: 15px;
                                                                        color: #737373;
                                                                        font-weight: 400;
                                                                        i{
                                                                            margin-right: 10px;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        .rent-btn{
                                                            a{
                                                                background: #201F1D;
                                                                color: #ffffff;
                                                                transition: all 0.5;
            
                                                                &:hover{
                                                                    background-color: #127384;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .pending-body{
                            padding: 20px;
                            text-align: center;
                            background-color: #fff;
                            border-radius: 5px;
                            text-align: center;
                        }
                        .rented-body{
                            padding: 20px;
                            text-align: center;
                            background-color: #fff;
                            border-radius: 5px;
                            text-align: center;
                        }
                        p{
                            color: #838383;
                            font-size: 16px;
                        }
                        svg{
                            display: block;
                            width: 100px;
                            fill: gray;
                            margin: 0 auto;
                            margin: 30px auto 0;
                        }
                    }
                }
                .active-main{
                    display: block;
                }
            }
        }
    }
}