@using DreamsRentBack.ViewModels.Account;
@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    string email = ViewBag.Email;
}

<!-- main start -->
<main>
    <section id="login">
        <div class="container">
            <div class="login-wrapper">
                <div class="login-box">
                    <h1>Reset Password</h1>
                    <p>Your new password must be different from previous used passwords.</p>
                    <form asp-action="ResetingPassword" method="post">
                        <input asp-for="Email" value="@Model.Email" style="display:none"/>
                        <div class="form-group">
                            <label for="">
                                New Password
                                <span>*</span>
                            </label>
                            <input asp-for="Password">
                        </div>
                        <div class="form-group">
                            <label for="">
                                Confirm Password
                                <span>*</span>
                            </label>
                            <input asp-for="ConfirmPassword">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-dark">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->

