@using DreamsRentBack.ViewModels.Identify;
@model LoginVM
@{
    ViewData["Title"] = "Sign In";
}

<!-- main start -->
    <main>
        <section id="login">
            <div class="container">
                <div class="login-wrapper">
                    <div class="login-box">
                        <h1>Sign In</h1>
                        <p>We'll send a confirmation code to your email.</p>
                        <form asp-action="Signin" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group inputs">
                                <label asp-for="UserName">
                                    User Name
                                    <span>*</span>
                                </label>
                                <input asp-for="UserName">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group inputs">
                                <label asp-for="Password">
                                    Password
                                    <span>*</span>
                                </label>
                                <input asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="forgot">
                                Forgot Password ?
                            </a>
                            <div class="remember-me">
                                <label asp-for="RememberMe">
                                    <span>Remember me</span>
                                    <input asp-for="RememberMe">
                                    <span asp-validation-for="RememberMe" class="text-danger"></span>
                                </label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button href="#" class="btn sign-button btn-dark w-100 mt-3">Sign In</button>
                            </div>
                            <div class="gogmail">
                                <a class="btn bg-white w-100 mt-3 rounded shadow" asp-controller="Account" asp-action="SigninGoogle" asp-route-returnUrl="@Context.Request.Path">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                    viewBox="0 0 48 48" 
                                    width="30px" 
                                    height="30px">
                                    <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z" />
                                    <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z" />
                                    <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z" />
                                    <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z" />
                                </svg>
                                    Signin with Goole Account
                                </a>
                            </div>
                        <div class="gogmail">
                            <a class="btn bg-white w-100 mt-3 rounded shadow" asp-controller="Account" asp-action="SigninFacebook" asp-route-returnUrl="@Context.Request.Path">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    viewBox="0 0 48 48"
                                     width="30px"
                                     height="30px">
                                    <path fill="#3F51B5" d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z" />
                                    <path fill="#FFF" d="M34.368,25H31v13h-5V25h-3v-4h3v-2.41c0.002-3.508,1.459-5.59,5.592-5.59H35v4h-2.287C31.104,17,31,17.6,31,18.723V21h4L34.368,25z" />
                                </svg>
                                Signin with Facebook Account
                            </a>
                        </div>
                            <div class="dont-have">
                                Don't have an account yet?
                                <a asp-action="ConsumerSignup">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <form asp-action="ForgotPassword">
            <div class="modal fade" style="backdrop-filter:blur(10px);" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Forgot Password?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body row" style="padding: 30px 50px">
                            <label style="margin-bottom:15px; padding:0;">Enter email adress which u forgot password</label>
                            <input type="email" name="email" placeholder="Enter your email adress" class="col-lg-12 form-control" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn  btn-dark" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning" style="color:white">Send Confirm Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <!-- main end -->

