
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main start -->
<main>
    <section id="head">
        <div class="container">
            <div class="head-wrapper">
                <h2>About Us</h2>
                <div class="root">
                    <ul>
                        <li>
                            <a href="./index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            About Us
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div data-aos="fade-down" class="row" style="transition: 1s;">
                <div class="col-lg-6 about-left">
                    <div class="about-exp-img">
                        <div class="about-exp">
                            <span>12+ years of experiences</span>
                        </div>
                        <div class="about-img">
                            <img src="~/assets/images/about/about-us.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 about-right">
                    <div class="about-content">
                        <h6>ABOUT OUR COMPANY</h6>
                        <h2>Best Solution For Cleaning Services</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-circle-check"></i>
                                        At vero et accusamus iusto dignissimos
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-circle-check"></i>
                                        At vero et accusamus iusto dignissimos
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-circle-check"></i>
                                        Nam libero tempore, cum soluta nobis</
                                        li>
                                    <li>
                                        <i class="fa-solid fa-circle-check"></i>
                                        Nam libero tempore, cum soluta nobis</
                                        li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="right-photo">
            <img src="~/assets/images/index/service-right.svg" alt="">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="services-title">
                <h2>How It Works</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="services-body">
                <div class="row">
                    <div data-aos="fade-down" data-aos-duration="500" class="location col-lg-4">
                        <div class="location-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>1. Choose Locations</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                    <div data-aos="fade-down" data-aos-duration="500" data-aos-delay="300" class="pick-up col-lg-4">
                        <div class="pick-up-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>2. Pick-Up Locations</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                    <div data-aos="fade-down" data-aos-duration="500" data-aos-delay="600" class="book col-lg-4">
                        <div class="book-head head">
                            <img src="~/assets/images/index/services-icon-01.svg" alt="icon">
                        </div>
                        <div class="service-body">
                            <h3>3. Book your Car</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="facts">
        <div class="left-img">
            <img src="~/assets/images/index/facts-left.png" class="img-fluid" alt="facts left">
        </div>
        <div class="right-img">
            <img src="~/assets/images/index/facts-right.png" class="img-fluid" alt="facts left">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="facts-title">
                <h2>Facts By The Numbers</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div data-aos="fade-down" class="counter-group">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-heart.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4 class="count">16</h4>
                                <p>Happy Customers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-car.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4 class="count">2547+</h4>
                                <p>Count of Cars</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-headphone.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4>625K+</h4>
                                <p>Car Center Solutions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="count-item">
                            <div class="count-img">
                                <img src="~/assets/images/index/bx-history.svg" alt="">
                            </div>
                            <div class="count-digit">
                                <h4>200K+</h4>
                                <p>Total Kilometer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="choose-us">
        <div class="left-img">
            <img src="~/assets/images/index/choose-left.png" alt="">
        </div>
        <div class="container">
            <div data-aos="fade-down" class="choose-us-title">
                <h2>Why Choose Us</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div data-aos="fade-down" class="choose-us-group">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img black-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Easy & Fast Booking</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img blue-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Many Pickup Location</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="card-img orange-img">
                                <img src="~/assets/images/index/bx-user-check.svg" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Customer Satisfaction</h4>
                                <p>
                                    Completely carinate e business testing process whereas fully researched customer
                                    service. Globally extensive content with quality.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <div class="container">
            <div data-aos="fade-down" class="testimonials-title">
                <h2>What People say about us?</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="testimonials-body">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="quotes">
                                        <img src="~/assets/images/index/slider/quote.svg" alt="">
                                    </div>
                                    <div class="review">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="~/assets/images/index/slider/avatar-02.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>Rabien Ustoc</h6>
                                            <div class="list-rating">
                                                <div class="stars">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span>(5.0)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container">
            <div data-aos="fade-down" class="faq-title">
                <h2>Frequently Asked Questions</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="faq-accordion">
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            What is about rental car deals?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="first-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            In which areas do you operate?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="second-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="third-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="fourth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="fifth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="sixth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                            id quod?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="seventh-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->
<script src="~/assets/js/index.js"></script>

