
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- main start -->
<main>
    <section id="head">
        <div class="container">
            <div class="head-wrapper">
                <h2>FAQ</h2>
                <div class="root">
                    <ul>
                        <li>
                            <a href="./index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            FAQ
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container">
            <div data-aos="fade-down" class="faq-title">
                <h2>Frequently Asked Questions</h2>
                <img src="~/assets/images/footer/title-head.png" alt="">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="faq-accordion">
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            What is about rental car deals?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="first-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            In which areas do you operate?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="second-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="third-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="fourth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="fifth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="sixth-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-down" class="accordion">
                    <h4 class="accordion-title">
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                            id quod?
                            <i class="fa-solid fa-circle-chevron-down"></i>
                        </p>
                    </h4>
                    <div id="seventh-faq" class="accordion-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->
