
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- main start -->
<main>
    <section id="head">
        <div class="container">
            <div class="head-wrapper">
                <h2>Our Team</h2>
                <div class="root">
                    <ul>
                        <li>
                            <a href="./index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            Our Team
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 team-member">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/assets/images/team/team-01.jpg" alt="">
                        </div>
                        <div class="card-info">
                            <h3>Matt Fierce</h3>
                            <span>CEO</span>
                            <div class="social-media">
                                <ul class="wrapper">
                                    <li class="button">
                                        <a href="#" class="fb icon">
                                            <i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i>
                                        </a>
                                        <span>Facebook</span>
                                    </li>
                                    <li class="button">
                                        <a href="#" class="twitter icon">
                                            <i class="fab fa-twitter fi-icon"></i>
                                        </a>
                                        <span>Twitter</span>
                                    </li>
                                    <li class="button">
                                        <a href="#" class="in icon">
                                            <i class="fab fa-linkedin fi-icon"></i>
                                        </a>
                                        <span>Linkedin</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- main end -->

